@font-face {
  font-family: 'gilroy-medium';
  src: url("/fonts/gilroy/Gilroy-Medium.ttf");
  font-weight: 300;
    font-display: swap;
}

@font-face {
  font-family: 'gilroy-bold';
  src: url("/fonts/gilroy/Gilroy-Bold.ttf");
  font-weight: 700;
    font-display: swap;
}
@font-face {
  font-family: 'gilroy-semi-bold';
  src: url("/fonts/gilroy/Gilroy-SemiBold.ttf");
  font-weight: 500;
    font-display: swap;
}

@font-face {
  font-family: 'gilroy-black';
  src: url("/fonts/gilroy/Gilroy-Black.ttf");
  font-weight: 700;
    font-display: swap;
}
@font-face {
  font-family: 'gilroy-bold';
  src: url("/fonts/gilroy/Gilroy-ExtraBold.ttf");
  font-weight: 800;
    font-display: swap;
}


// Boston Family
@font-face {
  font-family: 'boston';
  src: url("/fonts/boston/Boston-Regular.otf");
  font-weight: 300;
    font-display: swap;
}
@font-face {
  font-family: 'boston';
  src: url("/fonts/boston/Boston-SemiBold.otf");
  font-weight: 500;
    font-display: swap;
}
@font-face {
  font-family: 'boston';
  src: url("/fonts/boston/Boston-Bold.otf");
  font-weight: 700;
    font-display: swap;
}


// Baysoir
@font-face {
  font-family: 'baysoir';
  src: url("/fonts/baysoir/Baysoir.otf");
  font-weight: 500;
    font-display: swap;
}
